body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.rate {
	text-align: center;
	width: 200px;
	height: 200px;

}
.emoji {
	font-size: 500px;
	height: 500px;
	line-height: 500px;
	text-align: center;
}

input {
	cursor: ew-resize;
}